<header>
    <h1>
        ALMACEN DON CARLOS
    </h1>
</header>
<h1>Muchas gracias por su compra {{comprador}}</h1>
<h2>Su orden de compra es la {{code}}</h2>
<button class="boton" onclick="pay()">PAGAR</button>
<button class="boton_volver"><a href="/api/views/home">VOLVER AL INICIO</a></button>


<script src="/src/public/functions.js"></script>
<script src="https://cdn.jsdelivr.net/npm/sweetalert2@10"></script>